<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="http://fonts.googleapis.com/css?family=Exo:900" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="pusher">
    <div class="ui fixed menu">
        <div class="ui container">
            <a href="#" class="header item">Saving Engineers</a>
        </div>
    </div>
    <div class="full height image">
        <div class="ui main container">
            <div class="ui information container">
                <table class="ui table">
                    <thead>
                    <tr>
                        <th>名前</th>
                        <th>コメント</th>
                    </tr>
                    </thead>
                    <tbody th:remove="all-but-first" th:each="signature : ${signatures}">
                    <tr>
                        <td th:text="${signature.name}"></td>
                        <td><pre th:text="${signature.signatureComment}"></pre></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
